* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .3s;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    width: 50%;
    border: 1px solid;
    border-color: #0a516d;
    margin: 20px 0;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: 80% 19%;
    gap: 0 1%;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    background: #2b2726;
    color: #fff;
}

main {
    grid-area: main;
    max-width: 100%;
    padding: 20px;
}

aside {
    grid-area: aside;
    max-width: 100%;
    padding: 20px;
}

footer {
    grid-area: footer;
    background: #2b2726;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}