.header-img {
    width: 100px;
}
.header-img:hover {
    filter: brightness(50%);
}

.header-title {
    display: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
}

#navbar .nav-link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
}
#navbar .nav-link:hover {
    color: #777777;
}


/* main */

.link-botao {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    align-content: center;
    border: 1px solid #0a516d;
}
.link-botao:hover {
    background-color: #0a516d;
    color: #fff;
}

.posts {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    justify-content: space-between;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
.post-card:hover {
    border: 1px solid #777777;
    filter: brightness(100%);
}

.post-card img {
    max-width: 100%;
    filter: brightness(90%);
}
.post-card:hover img {
    filter: brightness(120%);
}

.post-card img, .post-card h3, .post-card p, .post-card small {
    margin-bottom: 10px;
}

.post-card small {
    display: block;
    color: #777777;
}

.post-single {
    margin-bottom: 20px;
}

.post-single img {
    max-width: 50%;
    margin: auto;
    display: block;
}
.post-single img, .post-single h2, .post-single p, .post-single small {
    margin-bottom: 10px;
}

.post-single p {
    line-height: 1.8;
    text-align: justify;
}

.post-single small {
    display: block;
    color: #777777;
}